* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

:root {
  --clr-green-400: hsl(172, 67%, 45%);
  --clr-green-900: hsl(183, 100%, 15%);
  --clr-grey-500: hsl(186, 14%, 43%);
  --clr-grey-400: hsl(184, 14%, 56%);
  --clr-grey-200: hsl(185, 41%, 84%);
  --clr-grey-50: hsl(189, 47%, 97%);
  --clr-white: hsl(0, 100%, 100%);

  --fs-largest: 2.5rem;
  --fs-large: 1.5rem;
  --fs-regular: 1rem;
  --fs-small: 0.8rem;
  --ff: "Space Mono";
  --fw: 700;
}

body {
  font-size: var(--fs-large);
  font-weight: var(--fw);
  font-family: var(--ff);
}

.main {
  background-color: var(--clr-grey-200);
  /* display: grid;
  justify-items: center;
   */

  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: var(--fs-large);
  padding-block: 2em;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--clr-grey-500);
}

input {
  color: var(--clr-green-900);
  background-color: var(--clr-grey-50);
  border: none;
  border-radius: 5px;
  padding-block: 0.3em;
  padding-inline: 0.6em;
  text-align: end;
  width: 100%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.icon {
  background-image: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 20px 50%;
  padding-inline-start: 40px;
}

.icon--person {
  background-image: url("images/icon-person.svg");
}

.tip-card {
  width: 100%;

  background-color: var(--clr-white);
  padding: 1.2em;
  border-radius: 30px 30px 0 0;
  display: grid;
  gap: 1.7em;
}

.content {
  display: grid;
  gap: 1.7em;
}

.form-group,
.button-group {
  display: grid;
  gap: 10px;
}

.button-group__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.result {
  /* display: grid; */
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--clr-green-900);
  border-radius: 20px;
  padding: 1em;
  padding-block-start: 1.5em;
}

.tile {
  display: flex;
  justify-content: space-between;
}

.tile__container {
  gap: 10px;
}

.label {
  font-size: var(--fs-regular);
  color: var(--clr-grey-500);
}

.button-group__input {
  field-sizing: content;
}

.btn {
  border: none;
  border-radius: 5px;
  padding-block: 0.2em;
}

.btn--tip {
  color: var(--clr-white);
  background-color: var(--clr-green-900);
}

.btn--light {
  color: var(--clr-green-900);
  background-color: var(--clr-green-400);
}

.btn--disabled {
  filter: opacity(0.2);
}

.tile__title {
  font-size: var(--fs-regular);
  color: var(--clr-grey-200);
}

.tile__subtitle {
  font-size: var(--fs-small);
  color: var(--clr-grey-500);
}

.tile__amount {
  color: var(--clr-green-400);
  font-size: var(--fs-largest);
}

.reset {
  text-transform: uppercase;
}

@media screen and (min-width: 700px) {
  body,
  html {
    height: 100dvh;
  }

  .main {
    height: 100%;
    padding-block: 5em;
  }
  .tip-card {
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    border-radius: 30px 30px 30px 30px;
  }

  .button-group__container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .result {
    gap: 50px;
  }

  .reset {
    margin-block-start: auto;
  }
}

@media screen and (min-width: 1200px) {
  .tip-card {
    max-width: 50%;
  }
}

.custom--light {
  background-color: var(--clr-green-400);
  color: var(--clr-green-900);
}
