:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);
  --clr-brown-800: hsl(14, 45%, 36%);
  --clr-rose-50: hsl(332, 51%, 32%);
  --clr-rose-800: hsl(330, 100%, 98%);

  --fs-regular: 1rem;

  --ff-young-serif: "Young Serif";
  --ff-outfit: "Outfit";
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* --padding: 3em; */
  --padding: 2em;
  --border-radius: 20px;
}

@font-face {
  font-family: "Young Serif";
  font-weight: 400;
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  font-weight: 400 700;
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
}

/* 
- Mobile: 375px
- Desktop: 1440px
 */

/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* html,
body {
  height: 100%;
} */

img,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* styling */

body {
  color: var(--clr-stone-600);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  font-family: var(--ff-outfit);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

main {
  background-color: var(--clr-stone-100);
  display: grid;
  justify-items: center;
}

.wrapper {
  --_border-radius: 20px;
  max-width: 50%;
  padding: var(--padding);
  border-radius: var(--_border-radius);

  margin-block: 5em;
}

.content {
  display: grid;
  gap: var(--padding);
  /* border: 1px solid blue; */
  border-radius: var(--_border-radius) var(--border-radius) 0 0;
  overflow: hidden;
}

.background-white {
  background-color: var(--clr-white);
}

.text-content {
  display: grid;
  gap: 1em;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: 100%;
    padding: 0 0 var(--padding) 0;
    border-radius: 0;
    margin-block: 0;
  }
  .content {
    border-radius: 0;
  }

  .text-content {
    padding-inline: var(--padding);
  }
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.semi-bold {
  font-weight: var(--fw-semi-bold);
}

.bold {
  font-weight: var(--fw-bold);
}

.brown {
  color: var(--clr-brown-800);
}

h1,
h2 {
  font-family: var(--ff-young-serif);
}

h1 {
  color: var(--clr-stone-900);
}
hr {
  color: var(--clr-stone-150);
  opacity: 0.2;
}

.preparation {
  background-color: var(--clr-rose-800);
  padding: 1.5em;
  border-radius: var(--border-radius);
}

.preparation h3 {
  color: var(--clr-rose-50);
}

.preparation li::marker {
  color: var(--clr-rose-50);
  font-size: 0.6em;
}

.ingredients li::marker {
  color: var(--clr-brown-800);
  font-size: 0.6em;
}

.instructions li::marker {
  color: var(--clr-brown-800);
  font-weight: var(--fw-bold);
}

li {
  padding-left: 1.2em;
}
