* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: 100%;
}

html,
body,
.main {
  min-height: 100vh;
}

:root {
  --clr-navy-950: hsl(233, 47%, 7%);
  --clr-blue-950: hsl(244, 37%, 16%);
  --clr-purple-500: hsl(277, 64%, 61%);
  --clr-purple-overlay-properties: 277, 64%, 50%;
  --clr-white-100: hsl(0, 0%, 100%);
  --clr-white-75: hsla(0, 0%, 100%, 0.75);
  --clr-white-60: hsla(0, 0%, 100%, 0.6);

  --fs-regular: 0.93rem;
  --fs-metric-heading: 1.75rem;
  --fs-heading: 2rem;

  --ff-inter: "Inter";
  --ff-lexend: "Lexend Deca";

  --fw-regular: 400;
  --fw-bold: 700;
}

body {
  color: var(--clr-white-75);
  font-size: var(--fs-regular);
  line-height: 1.5;
  font-family: var(--ff-inter);
  font-weight: var(--fw-regular);
}

.main {
  display: grid;
  place-items: center;
  background-color: var(--clr-navy-950);
}

.bold {
  font-weight: var(--fw-bold);
}

.text-accent {
  color: var(--clr-purple-500);
}

.uppercase {
  text-transform: uppercase;
}

.decoration {
  position: relative;
}

.decoration::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: hsla(var(--clr-purple-overlay-properties), 0.4);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.insights {
  margin: 0 1em;
  background-color: var(--clr-blue-950);
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1.15fr 1fr;
  max-width: 60rem;
}

.content {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3em;
}

.description {
  display: grid;
  gap: 1.5em;
}

.title {
  font-size: var(--fs-heading);
  line-height: 1.2;
  color: var(--clr-white-100);
}
.metrics {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.metrics__item {
  display: grid;
}

.metrics__item > *:first-child {
  color: var(--clr-white-100);
  font-size: var(--fs-metric-heading);
}

.metrics__item > *:last-child {
  color: var(--clr-white-60);
  font-family: var(--ff-lexend);
}

@media screen and (max-width: 650px) {
  .insights {
    grid-template-columns: 1fr;
    text-align: center;
    border-radius: 0;
    margin: 0;
  }

  .decoration {
    grid-row: 1;
  }

  .metrics {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}
